{
  "printWidth": 80,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.less", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
