@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap');
@import './themes/dark.css' Layer(base);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
}

@layer base {
  :root {
    --color-primary: 0 91 255;
    --color-dark-primary: 0 80 224;
    --color-secondary: 88 148 255;
    --color-accent: 249 17 85;
    --color-title: 0 26 52;
    --color-description: 155 165 175;
    --color-description-title: 92 103 114;
    --color-description-light: 245 245 245;
    --color-gold: 255 168 0;
    --color-success: 12 187 70;
    --color-white: 255 255 255;
  }
}
