$primary-color: #005bff;
$dark-primary-color: #0050e0;
$secondary-color: #5894ff;
$accent-color: #f91155;
$title-color: #001a34;
$description-color: #9ba5af;
$description-title-color: #5c6772;
$description-light-color: #f5f5f5;
$gold-color: #ffa800;
$success-color: #0cbb46;
$white-color: #ffffff;

$primary-border-radius: 10px;
$secondary-border-radius: 5px;
